<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/mainpage.css" />
    <link rel="stylesheet" href="/digital-inspection.css" />

    <link rel="stylesheet" href="/pure-min.css" />
</head>

<body>
    <%- include('partials/Navbar', {data: '' }); %>
        <h1>Job or Job Data Not Available</h1>
        <button onclick="location.href='/'"
            style="background:none;border:none;color:blue;text-decoration: underline;font-weight: bold;">Add job to
            database</button>
</body>

</html>